*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #67d2f6;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1{
    padding: 20px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.4);
    font-size: 8vmin;
    color: rgb(141, 20, 20);
    background-color: #ffff07;
}

#reset-btn{
    padding: 1rem;
    font-size: 3vmin;
    background-color: #191913;
    color: white;
    border-radius: 15px;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 3vmin;
    background-color: #191913;
    color: white;
    border-radius: 15px;
    border: none;
}

#msg{
    color: #ffff07;
    font-size: 40px;
    margin: 40px;
}

.msg-container{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hide{
    display: none;
}